* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-color: #9dc5bb;
  }
  
  .container {
    padding: 1rem 1.5rem;
    border: 1px solid black;
    width: 350px;
    background-color: #bcf4f5;
  }
  
  h2 {
    text-align: center;
    padding: 15px 0;
  }
  
  /* input[type='checkbox'] {
    margin-right: 0;
  } */
  /* input[type='text'] {
    height: 100%;
    width: 100%;
  } */
  
  .option {
    display: flex;
    justify-content: space-between;
    padding: 4px;
  }
  .result__container {
    height: 50px;
    width: 100%;
    display: …

  }
  #generate:hover {
    background-color: #5bc0be;
    color: #ffffff;
  }